<app-introduction [id]="'projects'" [title]="'My projects'" [text]="'Here are my projects, that I have done'"></app-introduction>
<div class="d-flex flex-column justify-content-center align-items-center">
  @for (repo of repos; track repo.name) {
    <div class="card card-project m-4" style="width: 70%;">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
          <h5 class="card-title card-title-project mb-2 mb-md-0">{{ repo.name }}</h5>
          <a [href]="repo.url" class="btn btn-primary w-md-auto mt-2 mt-md-0"  style="background-color: var(--button-project-color); color: var(--button-project-text-color); border-color: var(--button-project-color)" target="_blank">
            View on GitHub
          </a>
        </div>
      </div>
    </div>
  }
</div>
