div.card.m-5.p-3.border-right
{
  border-right: 2px solid #800ac4 !important;
}

div.border-left
{
  border-left: 2px solid #800ac4 !important;

}

div.border-top
{
  border-top: 2px solid #800ac4 !important;
}
div.border-bottom
{
  border-bottom: 2px solid #800ac4 !important;
}



@keyframes fly-in-from-left-without-breaks {
  from
  {
    transform: translateX(-100%);
    opacity: 0;
  }
  to
  {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fly-in-from-right-without-breaks {
  from
  {
    transform: translateX(100%);
    opacity: 0;
  }
  to
  {
    transform: translateX(0);
    opacity: 1;
  }
}
.card-timeline {
  border: 2px solid #800ac4;
  border-radius: 8px;
  background-color: #09080A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title-timeline, .card-text-timeline, .text-muted-timeline {
  color: #800ac4;
}
div.col-timeline-right
{
  transform: translateX(100%);
}

div.col-timeline-left
{
  transform: translateX(-100%);
}
