div.card.m-5.p-3.border-right
{
  border-right: 2px solid #800ac4 !important;
}

div.border-left
{
  border-left: 2px solid #800ac4 !important;

}

div.border-top
{
  border-top: 2px solid #800ac4 !important;
}
div.border-bottom
{
  border-bottom: 2px solid #800ac4 !important;
}

hr.horizontal-line
{
  color: #800ac4 !important;
  background-color: #800ac4 !important;
  height: 2px !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;


}
div.vertical-line
{
  width: 2px !important;
  background-color: #800ac4 !important;
  height: 100% !important;
  margin: 0 auto !important;
}

@keyframes fly-in-from-left-without-breaks {
  from
  {
    transform: translateX(-100%);
    opacity: 0;
  }
  to
  {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fly-in-from-right-without-breaks {
  from
  {
    transform: translateX(100%);
    opacity: 0;
  }
  to
  {
    transform: translateX(0);
    opacity: 1;
  }
}
.card {
  border: 2px solid #800ac4;
  border-radius: 8px;
  background-color: #09080A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title, .card-text, .text-muted {
  color: #800ac4;
}
