nav.navbar {
  background-color: #36454F;
  padding: 0;
}


.container-fluid {
  background-color: #09080A;
  padding: 0;
  margin: 0;

}

.text-in-nav
{
  color: var(--main-color) !important;
}
.text-in-nav:hover
{
  color: white !important;
}
