nav.navbar {
  background-color: #36454F;
  padding: 0;
}


.container-fluid {
  background-color: #09080A;
  padding: 0;
  margin: 0;

}
.dropdown-background
{
  background-color: #09080A;
}
a.dropdown-item-theme:hover
{
  background-color: #09080A;
  color: white;
}

.text-in-nav
{
  color: var(--main-color) !important;
}
.text-in-nav:hover
{
  color: white !important;
}
