.icon {
  width: 20%;
  height: auto;
  border-radius: 0.5rem;


  padding: 0.5rem;
  animation: fly-in-from-bottom 1s ease-out forwards;
}
@media (max-width: 768px) {
  .icon {
    width: 50%;

  }
}


@keyframes fly-in-from-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
